## DataFrameについて

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Clipboardより作成

In [4]:
premier_frame = pd.read_clipboard()

In [5]:
premier_frame

,Team,Location,Stadium,Capacity
0,Tottenham Hotspur,"Wembley, London",Wembley Stadium[2],"90,000"
1,Manchester United,"Trafford, Greater Manchester[1]",Old Trafford,"74,994"
2,West Ham United,"Stratford, London",London Stadium,"60,000"
3,Arsenal,"Holloway, London",Emirates Stadium,"59,867"
4,Manchester City,"Manchester, Greater Manchester",Etihad Stadium,"55,017"
5,Liverpool,Liverpool,Anfield,"53,394"

In [6]:
premier_frame.columns

Index(['Team', 'Location', 'Stadium', 'Capacity'], dtype='object')

In [8]:
# Seriesが返却される
premier_frame['Team']

0    Tottenham Hotspur
1    Manchester United
2      West Ham United
3              Arsenal
4      Manchester City
5            Liverpool
Name: Team, dtype: object

In [9]:
premier_frame.Team

0    Tottenham Hotspur
1    Manchester United
2      West Ham United
3              Arsenal
4      Manchester City
5            Liverpool
Name: Team, dtype: object

In [10]:
premier_frame.head(2)

,Team,Location,Stadium,Capacity
0,Tottenham Hotspur,"Wembley, London",Wembley Stadium[2],"90,000"
1,Manchester United,"Trafford, Greater Manchester[1]",Old Trafford,"74,994"

In [11]:
premier_frame.tail(2)

              Team                        Location         Stadium Capacity
4  Manchester City  Manchester, Greater Manchester  Etihad Stadium   55,017
5        Liverpool                       Liverpool         Anfield   53,394

indexアクセス

In [13]:
premier_frame.ix[2]

Team          West Ham United
Location    Stratford, London
Stadium        London Stadium
Capacity               60,000
Name: 2, dtype: object

column追加

In [14]:
premier_frame['lank'] = np.arange(6)

In [15]:
premier_frame

,Team,Location,Stadium,Capacity,lank
0,Tottenham Hotspur,"Wembley, London",Wembley Stadium[2],"90,000",0
1,Manchester United,"Trafford, Greater Manchester[1]",Old Trafford,"74,994",1
2,West Ham United,"Stratford, London",London Stadium,"60,000",2
3,Arsenal,"Holloway, London",Emirates Stadium,"59,867",3
4,Manchester City,"Manchester, Greater Manchester",Etihad Stadium,"55,017",4
5,Liverpool,Liverpool,Anfield,"53,394",5

In [16]:
lank = Series([1, 2], index=[4, 1])

In [17]:
lank

4    1
1    2
dtype: int64

In [18]:
premier_frame['lank'] = lank

In [19]:
premier_frame

,Team,Location,Stadium,Capacity,lank
0,Tottenham Hotspur,"Wembley, London",Wembley Stadium[2],"90,000",NaN
1,Manchester United,"Trafford, Greater Manchester[1]",Old Trafford,"74,994",2.0
2,West Ham United,"Stratford, London",London Stadium,"60,000",NaN
3,Arsenal,"Holloway, London",Emirates Stadium,"59,867",NaN
4,Manchester City,"Manchester, Greater Manchester",Etihad Stadium,"55,017",1.0
5,Liverpool,Liverpool,Anfield,"53,394",NaN

In [20]:
del premier_frame['lank']

In [21]:
premier_frame

,Team,Location,Stadium,Capacity
0,Tottenham Hotspur,"Wembley, London",Wembley Stadium[2],"90,000"
1,Manchester United,"Trafford, Greater Manchester[1]",Old Trafford,"74,994"
2,West Ham United,"Stratford, London",London Stadium,"60,000"
3,Arsenal,"Holloway, London",Emirates Stadium,"59,867"
4,Manchester City,"Manchester, Greater Manchester",Etihad Stadium,"55,017"
5,Liverpool,Liverpool,Anfield,"53,394"

### Dict型より作成

In [22]:
city_data = {'City': ['LA', 'SF', 'NYC'], 'Population':[10000, 4000000, 800000]}

In [23]:
city_data

{'City': ['LA', 'SF', 'NYC'], 'Population': [10000, 4000000, 800000]}

In [24]:
city_frame = DataFrame(city_data)

In [25]:
city_frame

  City  Population
0   LA       10000
1   SF     4000000
2  NYC      800000