## Indexの基本

In [9]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

### Series

In [2]:
my_ser = Series([1, 2, 3, 4], index=['A', 'B', 'C', 'D'])

In [3]:
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
my_index = my_ser.index

In [5]:
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
my_index[0]

'A'

In [7]:
my_index[1:]

Index(['B', 'C', 'D'], dtype='object')

**indexは可変ではない**

In [8]:
my_index[0] = 'E'

TypeError: Index does not support mutable operations

In [10]:
my_ser2 = my_ser.reindex(['B', 'A', 'C', 'D', 'E'])

順番は変更されるがindexに対応するvalueは変更されない

In [11]:
my_ser2

B    2.0
A    1.0
C    3.0
D    4.0
E    NaN
dtype: float64

In [13]:
my_ser2.reindex(['B', 'A', 'C', 'D', 'E', 'F'], fill_value=0)

B    2.0
A    1.0
C    3.0
D    4.0
E    NaN
F    0.0
dtype: float64

In [14]:
my_ser3 = Series(['USA', 'Canada', 'Japan'], index=[0, 5, 10])

In [15]:
my_ser3

0        USA
5     Canada
10     Japan
dtype: object

ffill=forward fill (=前埋め)

In [16]:
my_ser3.reindex(range(15), method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Canada
6     Canada
7     Canada
8     Canada
9     Canada
10     Japan
11     Japan
12     Japan
13     Japan
14     Japan
dtype: object

### DataFrame

In [20]:
my_dframe = DataFrame(randn(25).reshape((5, 5)), index=['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [21]:
my_dframe

       col1      col2      col3      col4      col5
A  0.362464 -1.168483 -0.447052 -0.085865  0.644089
B  0.812315  1.459666  0.459161  0.430851  0.347539
D -1.381710 -2.216245  0.973246  1.250848 -0.462408
E  0.345389 -0.405964  0.120467  0.783818 -0.071637
F -0.279906  0.692280  1.889965 -0.603175  0.128630

#### index追加

In [23]:
new_index=['A','B','C','D','E','F']
my_dframe2 = my_dframe.reindex(new_index)

In [24]:
my_dframe2

       col1      col2      col3      col4      col5
A  0.362464 -1.168483 -0.447052 -0.085865  0.644089
B  0.812315  1.459666  0.459161  0.430851  0.347539
C       NaN       NaN       NaN       NaN       NaN
D -1.381710 -2.216245  0.973246  1.250848 -0.462408
E  0.345389 -0.405964  0.120467  0.783818 -0.071637
F -0.279906  0.692280  1.889965 -0.603175  0.128630

#### column追加

In [26]:
new_columns=['col1','col2','col3','col4','col5','col6']
my_dframe3 = my_dframe.reindex(columns=new_columns)

In [27]:
my_dframe3

       col1      col2      col3      col4      col5  col6
A  0.362464 -1.168483 -0.447052 -0.085865  0.644089   NaN
B  0.812315  1.459666  0.459161  0.430851  0.347539   NaN
D -1.381710 -2.216245  0.973246  1.250848 -0.462408   NaN
E  0.345389 -0.405964  0.120467  0.783818 -0.071637   NaN
F -0.279906  0.692280  1.889965 -0.603175  0.128630   NaN

**簡単な方法**

In [29]:
my_dframe.ix[new_index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.362464 -1.168483 -0.447052 -0.085865  0.644089   NaN
B  0.812315  1.459666  0.459161  0.430851  0.347539   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -1.381710 -2.216245  0.973246  1.250848 -0.462408   NaN
E  0.345389 -0.405964  0.120467  0.783818 -0.071637   NaN
F -0.279906  0.692280  1.889965 -0.603175  0.128630   NaN

In [34]:
# columnだけ書き換え
my_dframe.ix[my_dframe.index, new_columns]

       col1      col2      col3      col4      col5  col6
A  0.362464 -1.168483 -0.447052 -0.085865  0.644089   NaN
B  0.812315  1.459666  0.459161  0.430851  0.347539   NaN
D -1.381710 -2.216245  0.973246  1.250848 -0.462408   NaN
E  0.345389 -0.405964  0.120467  0.783818 -0.071637   NaN
F -0.279906  0.692280  1.889965 -0.603175  0.128630   NaN

In [35]:
# indexだけ書き換え
my_dframe.ix[new_index]

       col1      col2      col3      col4      col5
A  0.362464 -1.168483 -0.447052 -0.085865  0.644089
B  0.812315  1.459666  0.459161  0.430851  0.347539
C       NaN       NaN       NaN       NaN       NaN
D -1.381710 -2.216245  0.973246  1.250848 -0.462408
E  0.345389 -0.405964  0.120467  0.783818 -0.071637
F -0.279906  0.692280  1.889965 -0.603175  0.128630