In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
df = pd.read_csv("./file/train.csv")

df = df.replace("male", 0).replace("female", 1)

df["Age"].fillna(df.Age.median(), inplace=True)

split_data = []
for s in [0, 1]:
    split_data.append(df[df.Survived == s])

print(split_data)
temp = [i["Pclass"].dropna() for i in split_data]

[     PassengerId  Survived  Pclass  \
0              1         0       3
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
12            13         0       3
13            14         0       3
14            15         0       3
16            17         0       3
18            19         0       3
20            21         0       2
24            25         0       3
26            27         0       3
27            28         0       1
29            30         0       3
30            31         0       1
33            34         0       2
34            35         0       1
35            36         0       1
37            38         0       3
38            39         0       3
40            41         0       3
41            42         0       2
42            43         0       3
45            46         0       3
46            47         0       3
48            49         0       3
49            50         0       3
50            51         0       3
51            52         0       3
..           ...       ...     ...
844          845         0       3
845          846         0       3
846          847         0       3
847          848         0       3
848          849         0       2
850          851         0       3
851          852         0       3
852          853         0       3
854          855         0       2
859          860         0       3
860          861         0       3
861          862         0       2
863          864         0       3
864          865         0       2
867          868         0       1
868          869         0       3
870          871         0       3
872          873         0       1
873          874         0       3
876          877         0       3
877          878         0       3
878          879         0       3
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name  Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    0  22.0      1
4                             Allen, Mr. William Henry    0  35.0      0
5                                     Moran, Mr. James    0  28.0      0
6                              McCarthy, Mr. Timothy J    0  54.0      0
7                       Palsson, Master. Gosta Leonard    0   2.0      3
12                      Saundercock, Mr. William Henry    0  20.0      0
13                         Andersson, Mr. Anders Johan    0  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina    1  14.0      0
16                                Rice, Master. Eugene    0   2.0      4
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...    1  31.0      1
20                                Fynney, Mr. Joseph J    0  35.0      0
24                       Palsson, Miss. Torborg Danira    1   8.0      3
26                             Emir, Mr. Farred Chehab    0  28.0      0
27                      Fortune, Mr. Charles Alexander    0  19.0      3
29                                 Todoroff, Mr. Lalio    0  28.0      0
30                            Uruchurtu, Don. Manuel E    0  40.0      0
33                               Wheadon, Mr. Edward H    0  66.0      0
34                             Meyer, Mr. Edgar Joseph    0  28.0      1
35                      Holverson, Mr. Alexander Oskar    0  42.0      1
37                            Cann, Mr. Ernest Charles    0  21.0      0
38                  Vander Planke, Miss. Augusta Maria    1  18.0      2
40      Ahlin, Mrs. Johan (Johanna Persdotter Larsson)    1  40.0      1
41   Turpin, Mrs. William John Robert (Dorothy Ann ...    1  27.0      1
42                                 Kraeff, Mr. Theodor    0  28.0      0
45                            Rogers, Mr. William John    0  28.0      0
46                                   Lennon, Mr. Denis    0  28.0      1
48                                 Samaan, Mr. Youssef    0  28.0      2
49       Arnold-Franchi, Mrs. Josef (Josefine Franchi)    1  18.0      1
50                          Panula, Master. Juha Niilo    0   7.0      4
51                        Nosworthy, Mr. Richard Cater    0  21.0      0
..                                                 ...  ...   ...    ...
844                                Culumovic, Mr. Jeso    0  17.0      0
845                                Abbing, Mr. Anthony    0  42.0      0
846                           Sage, Mr. Douglas Bullen    0  28.0      8
847                                 Markoff, Mr. Marin    0  35.0      0
848                                  Harper, Rev. John    0  28.0      0
850            Andersson, Master. Sigvard Harald Elias    0   4.0      4
851                                Svensson, Mr. Johan    0  74.0      0
852                            Boulos, Miss. Nourelain    1   9.0      1
854      Carter, Mrs. Ernest Courtenay (Lilian Hughes)    1  44.0      1
859                                   Razi, Mr. Raihed    0  28.0      0
860                            Hansen, Mr. Claus Peter    0  41.0      2
861                        Giles, Mr. Frederick Edward    0  21.0      1
863                  Sage, Miss. Dorothy Edith "Dolly"    1  28.0      8
864                             Gill, Mr. John William    0  24.0      0
867               Roebling, Mr. Washington Augustus II    0  31.0      0
868                        van Melkebeke, Mr. Philemon    0  28.0      0
870                                  Balkic, Mr. Cerin    0  26.0      0
872                           Carlsson, Mr. Frans Olof    0  33.0      0
873                        Vander Cruyssen, Mr. Victor    0  47.0      0
876                      Gustafsson, Mr. Alfred Ossian    0  20.0      0
877                               Petroff, Mr. Nedelio    0  19.0      0
878                                 Laleff, Mr. Kristo    0  28.0      0
881                                 Markun, Mr. Johann    0  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika    1  22.0      0
883                      Banfield, Mr. Frederick James    0  28.0      0
884                             Sutehall, Mr. Henry Jr    0  25.0      0
885               Rice, Mrs. William (Margaret Norton)    1  39.0      0
886                              Montvila, Rev. Juozas    0  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"    1  28.0      1
890                                Dooley, Mr. Patrick    0  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
4        0            373450    8.0500          NaN        S
5        0            330877    8.4583          NaN        Q
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
16       1            382652   29.1250          NaN        Q
18       0            345763   18.0000          NaN        S
20       0            239865   26.0000          NaN        S
24       1            349909   21.0750          NaN        S
26       0              2631    7.2250          NaN        C
27       2             19950  263.0000  C23 C25 C27        S
29       0            349216    7.8958          NaN        S
30       0          PC 17601   27.7208          NaN        C
33       0        C.A. 24579   10.5000          NaN        S
34       0          PC 17604   82.1708          NaN        C
35       0            113789   52.0000          NaN        S
37       0        A./5. 2152    8.0500          NaN        S
38       0            345764   18.0000          NaN        S
40       0              7546    9.4750          NaN        S
41       0             11668   21.0000          NaN        S
42       0            349253    7.8958          NaN        C
45       0   S.C./A.4. 23567    8.0500          NaN        S
46       0            370371   15.5000          NaN        Q
48       0              2662   21.6792          NaN        C
49       0            349237   17.8000          NaN        S
50       1           3101295   39.6875          NaN        S
51       0        A/4. 39886    7.8000          NaN        S
..     ...               ...       ...          ...      ...
844      0            315090    8.6625          NaN        S
845      0         C.A. 5547    7.5500          NaN        S
846      2          CA. 2343   69.5500          NaN        S
847      0            349213    7.8958          NaN        C
848      1            248727   33.0000          NaN        S
850      2            347082   31.2750          NaN        S
851      0            347060    7.7750          NaN        S
852      1              2678   15.2458          NaN        C
854      0            244252   26.0000          NaN        S
859      0              2629    7.2292          NaN        C
860      0            350026   14.1083          NaN        S
861      0             28134   11.5000          NaN        S
863      2          CA. 2343   69.5500          NaN        S
864      0            233866   13.0000          NaN        S
867      0          PC 17590   50.4958          A24        S
868      0            345777    9.5000          NaN        S
870      0            349248    7.8958          NaN        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
878      0            349217    7.8958          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
888      2        W./C. 6607   23.4500          NaN        S
890      0            370376    7.7500          NaN        Q

[549 rows x 12 columns],      PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
15            16         1       2
17            18         1       2
19            20         1       3
21            22         1       2
22            23         1       3
23            24         1       1
25            26         1       3
28            29         1       3
31            32         1       1
32            33         1       3
36            37         1       3
39            40         1       3
43            44         1       2
44            45         1       3
47            48         1       3
52            53         1       1
53            54         1       2
55            56         1       1
56            57         1       2
58            59         1       2
61            62         1       1
65            66         1       3
66            67         1       2
..           ...       ...     ...
809          810         1       1
820          821         1       1
821          822         1       3
823          824         1       3
827          828         1       2
828          829         1       3
829          830         1       1
830          831         1       3
831          832         1       2
835          836         1       1
838          839         1       3
839          840         1       1
842          843         1       1
849          850         1       1
853          854         1       1
855          856         1       3
856          857         1       1
857          858         1       1
858          859         1       3
862          863         1       1
865          866         1       2
866          867         1       2
869          870         1       3
871          872         1       1
874          875         1       2
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                                  Name  Sex    Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.00      1
2                               Heikkinen, Miss. Laina    1  26.00      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.00      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    1  27.00      0
9                  Nasser, Mrs. Nicholas (Adele Achem)    1  14.00      1
10                     Sandstrom, Miss. Marguerite Rut    1   4.00      1
11                            Bonnell, Miss. Elizabeth    1  58.00      0
15                    Hewlett, Mrs. (Mary D Kingcome)     1  55.00      0
17                        Williams, Mr. Charles Eugene    0  28.00      0
19                             Masselmani, Mrs. Fatima    1  28.00      0
21                               Beesley, Mr. Lawrence    0  34.00      0
22                         McGowan, Miss. Anna "Annie"    1  15.00      0
23                        Sloper, Mr. William Thompson    0  28.00      0
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...    1  38.00      1
28                       O'Dwyer, Miss. Ellen "Nellie"    1  28.00      0
31      Spencer, Mrs. William Augustus (Marie Eugenie)    1  28.00      1
32                            Glynn, Miss. Mary Agatha    1  28.00      0
36                                    Mamee, Mr. Hanna    0  28.00      0
39                         Nicola-Yarred, Miss. Jamila    1  14.00      1
43            Laroche, Miss. Simonne Marie Anne Andree    1   3.00      1
44                       Devaney, Miss. Margaret Delia    1  19.00      0
47                           O'Driscoll, Miss. Bridget    1  28.00      0
52            Harper, Mrs. Henry Sleeper (Myna Haxtun)    1  49.00      1
53   Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...    1  29.00      1
55                                   Woolner, Mr. Hugh    0  28.00      0
56                                   Rugg, Miss. Emily    1  21.00      0
58                        West, Miss. Constance Mirium    1   5.00      1
61                                 Icard, Miss. Amelie    1  38.00      0
65                            Moubarek, Master. Gerios    0  28.00      1
66                        Nye, Mrs. (Elizabeth Ramell)    1  29.00      0
..                                                 ...  ...    ...    ...
809     Chambers, Mrs. Norman Campbell (Bertha Griggs)    1  33.00      1
820  Hays, Mrs. Charles Melville (Clara Jennings Gr...    1  52.00      1
821                                  Lulic, Mr. Nikola    0  27.00      0
823                                 Moor, Mrs. (Beila)    1  27.00      0
827                              Mallet, Master. Andre    0   1.00      0
828                       McCormack, Mr. Thomas Joseph    0  28.00      0
829          Stone, Mrs. George Nelson (Martha Evelyn)    1  62.00      0
830            Yasbeck, Mrs. Antoni (Selini Alexander)    1  15.00      1
831                    Richards, Master. George Sibley    0   0.83      1
835                        Compton, Miss. Sara Rebecca    1  39.00      1
838                                    Chip, Mr. Chang    0  32.00      0
839                               Marechal, Mr. Pierre    0  28.00      0
842                            Serepeca, Miss. Augusta    1  30.00      0
849       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)    1  28.00      1
853                          Lines, Miss. Mary Conover    1  16.00      0
855                         Aks, Mrs. Sam (Leah Rosen)    1  18.00      0
856         Wick, Mrs. George Dennick (Mary Hitchcock)    1  45.00      1
857                             Daly, Mr. Peter Denis     0  51.00      0
858              Baclini, Mrs. Solomon (Latifa Qurban)    1  24.00      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...    1  48.00      0
865                           Bystrom, Mrs. (Karolina)    1  42.00      0
866                       Duran y More, Miss. Asuncion    1  27.00      1
869                    Johnson, Master. Harold Theodor    0   4.00      1
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)    1  47.00      1
874              Abelson, Mrs. Samuel (Hannah Wizosky)    1  28.00      1
875                   Najib, Miss. Adele Kiamie "Jane"    1  15.00      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)    1  56.00      0
880       Shelley, Mrs. William (Imanita Parrish Hall)    1  25.00      0
887                       Graham, Miss. Margaret Edith    1  19.00      0
889                              Behr, Mr. Karl Howell    0  26.00      0

     Parch            Ticket      Fare Cabin Embarked
1        0          PC 17599   71.2833   C85        C
2        0  STON/O2. 3101282    7.9250   NaN        S
3        0            113803   53.1000  C123        S
8        2            347742   11.1333   NaN        S
9        0            237736   30.0708   NaN        C
10       1           PP 9549   16.7000    G6        S
11       0            113783   26.5500  C103        S
15       0            248706   16.0000   NaN        S
17       0            244373   13.0000   NaN        S
19       0              2649    7.2250   NaN        C
21       0            248698   13.0000   D56        S
22       0            330923    8.0292   NaN        Q
23       0            113788   35.5000    A6        S
25       5            347077   31.3875   NaN        S
28       0            330959    7.8792   NaN        Q
31       0          PC 17569  146.5208   B78        C
32       0            335677    7.7500   NaN        Q
36       0              2677    7.2292   NaN        C
39       0              2651   11.2417   NaN        C
43       2     SC/Paris 2123   41.5792   NaN        C
44       0            330958    7.8792   NaN        Q
47       0             14311    7.7500   NaN        Q
52       0          PC 17572   76.7292   D33        C
53       0              2926   26.0000   NaN        S
55       0             19947   35.5000   C52        S
56       0        C.A. 31026   10.5000   NaN        S
58       2        C.A. 34651   27.7500   NaN        S
61       0            113572   80.0000   B28      NaN
65       1              2661   15.2458   NaN        C
66       0        C.A. 29395   10.5000   F33        S
..     ...               ...       ...   ...      ...
809      0            113806   53.1000    E8        S
820      1             12749   93.5000   B69        S
821      0            315098    8.6625   NaN        S
823      1            392096   12.4750  E121        S
827      2   S.C./PARIS 2079   37.0042   NaN        C
828      0            367228    7.7500   NaN        Q
829      0            113572   80.0000   B28      NaN
830      0              2659   14.4542   NaN        C
831      1             29106   18.7500   NaN        S
835      1          PC 17756   83.1583   E49        C
838      0              1601   56.4958   NaN        S
839      0             11774   29.7000   C47        C
842      0            113798   31.0000   NaN        C
849      0             17453   89.1042   C92        C
853      1          PC 17592   39.4000   D28        S
855      1            392091    9.3500   NaN        S
856      1             36928  164.8667   NaN        S
857      0            113055   26.5500   E17        S

In [12]:
plt.hist(temp, histtype="barstacked", bins=3)

([array([  80.,   97.,  372.]), array([ 216.,  184.,  491.])],
 array([ 1.        ,  1.66666667,  2.33333333,  3.        ]),
 <a list of 2 Lists of Patches objects>)